/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/*.navbar {
  margin-bottom: 20px;
}*/

.card {
    -webkit-perspective: 800;
    width: 300px;
    height: 420px;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}

.front {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    border-style: solid;
    border-width: thin;
    box-shadow: 0 4px 8px 0;
    padding: 10px;
}

.front:hover {
    box-shadow: 0 8px 16px 0;
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    border-style: solid;
    border-width: thin;
    box-shadow: 0 4px 8px 0;
    padding: 10px;
}

.back:hover {
    box-shadow: 0 8px 16px 0;
}

#userInfo {
  margin-left: 47%;
}

#middlePic {
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
}

#showSearch {
    margin-left: 10%;
    /*width: 40%;*/
}

#seasonSearch {
    margin-left: 10%;
}

label {
    font-size: 16px;
}
